.basket{
    background-color:rgba(255, 153, 0, 0.3);
    padding: 23px;
    position: sticky;
    top: 0;
}
.basket h6{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;

/* color: #0E161A; */

}

.basket p {
    font-size: 17px;
}

.clearCartBtn {
width: 232px;
height: 48px;
left: 872px;
top: 752px;

background: #FF3030;
border-radius: 4px;

display: flex;
justify-content: space-between;
align-items: center;

margin-bottom: 16px;

}

.reviewCartBtn{
width: 232px;
height: 48px;
left: 1192px;
top: 514px;

background: #FF9900;
border-radius: 4px;

display: flex;
justify-content: space-between;
align-items: center;

}